<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="./tools/phpunit.xsd"
  backupGlobals="false"
  beStrictAboutOutputDuringTests="true"
  bootstrap="tests/bootstrap.php"
  cacheResult="true"
  colors="true"
  failOnRisky="true"
  failOnWarning="true"
  testdox="true"
  cacheDirectory=".var/cache/phpunit"
  requireCoverageMetadata="true"
  beStrictAboutCoverageMetadata="true"
>
  <coverage>
    <report>
      <clover outputFile=".var/cache/phpunit/cov.xml" />
      <text outputFile="php://stdout" />
    </report>
  </coverage>
  <testsuites>
    <testsuite name="default">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source restrictDeprecations="true" restrictNotices="true" restrictWarnings="true">
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>

